<!DOCTYPE html>
<html>
  <head> 
    <%- partial('partial/meta'); %>
    <title><%- config.title %>
    <% if (page.title){ %>
      : <%- page.title %>
    <% } %>
    </title>
    <% if (theme.rcss){ %>
      <% theme.rcss.forEach(function(item){ %>
        <link rel="stylesheet" type="text/css" href="<%- item.url %>" <% if (item.integrity){ %> integrity:"<%- item.integrity %>"<% } %>>
      <% }); %>
    <% } %>
    <% theme.css.forEach(function(path){ %>
      <link rel="stylesheet" type="text/css" href="<%- url_for(path) %>" />
    <% }); %>

    <script src="<%- url_for("js/renderloop.js") %>" type="text/javascript"></script>
    <% if (theme.technogrid){ %>
    <script src="<%- url_for("js/technogrid.js") %>" type="text/javascript"></script>
    <% } %>
  </head>
  <body> 
    <div class="grid">
      <div class="cell-md-1 cell-lg-2"></div>
      <div class="cell-sm-12 cell-md-10 cell-lg-8">
        <%- body %>
      </div>
    </div>
  </body>

  <script>
    <% if (theme.technogrid){ %>
      TechnoGrid
        .setCanvas("header-canvas", true)
        .setParticlesAttract(<%- (theme.technogrid.particlesAttract === true) %>)
        .setParticlesAxisAligned(<%- (theme.technogrid.particlesAxisAligned === true) %>)
        <% if (theme.technogrid.maxParticles){ %>
          .setMaxParticles(<%- theme.technogrid.maxParticles %>)
        <% } %>
        <% if (theme.technogrid.particleSize){ %>
          .setParticleSize(
            <%- theme.technogrid.particleSize.min %>,
            <%- theme.technogrid.particleSize.max %>
          )
        <% } %>
        <% if (theme.technogrid.particleSpeed){ %>
          .setParticleSpeed(
            <%- theme.technogrid.particleSpeed.min %>,
            <%- theme.technogrid.particleSpeed.max %>
          )
        <% } %>
        <% if (theme.technogrid.particleLife){ %>
          .setParticleLife(
            <%- theme.technogrid.particleLife.min %>,
            <%- theme.technogrid.particleLife.max %>
          )
        <% } %>
        <% if (theme.technogrid.particleDistance){ %>
          .setParticleDistance(
            <%- theme.technogrid.particleDistance.min %>,
            <%- theme.technogrid.particleDistance.max %>
          )
        <% } %>
        <% if (theme.technogrid.boxSize){ %>
          .setBoxSize(<%- theme.technogrid.boxSize %>)
        <% } %>
        <% if (theme.technogrid.boxSpacing){ %>
          .setBoxSpacing(<%- theme.technogrid.boxSpacing %>)
        <% } %>
        <% if (theme.technogrid.boxColor){ %>
          .setBoxColor(<%- theme.technogrid.boxColor.r %>,<%- theme.technogrid.boxColor.g %>,<%- theme.technogrid.boxColor.b %>)
        <% } %>
        <% if (theme.technogrid.edgeColor){ %>
          .setEdgeColor(<%- theme.technogrid.edgeColor.r %>,<%- theme.technogrid.edgeColor.g %>,<%- theme.technogrid.edgeColor.b %>)
        <% } %>
        <% if (theme.technogrid.glowColor){ %>
          .setGlowColor(<%- theme.technogrid.glowColor.r %>,<%- theme.technogrid.glowColor.g %>,<%- theme.technogrid.glowColor.b %>)
        <% } %>
        .start();
    <% } %>
    RenderLoop.start();
  </script>
</html>
