<%- partial('partial/navbar'); %>
<article class="page-head">
  <div class=term-box">
    <div>
      <div style="display: flex">
        <div class="term-box-post-thumb hidden-sm">
          <% if (page.thumbnail){ %>
            <%- image_tag(url_for(page.thumbnail)) %>
          <% } else { %>
            <%- image_tag(url_for("images/default_post_bg.png")) %>
          <% } %>
        </div>
        <div class="post-heading">
          <div class="decoration-bottom-90">
            <div class="content-left">
              <h2 class="post-title"><%- page.title %></h2>
            </div>
          </div>
          <div class="decoration-bottom-75">
            <div class="content-left content-vertical">
              <h3 class="post-date">
                <% if (page.author){ %>
                  By: <i><%- page.author %></i>,
                <% } else if (config.author){ %>
                  By: <i><%- config.author %></i>,
                <% } else { %>
                  By: <i>Some Mystery Person</i>,
                <% } %>
                <% if (page.updated.unix() !== page.date.unix()){ %>
                Updated: <i><%- date(page.updated, config.date_format) %></i> &#64; <i><%- time(page.updated, config.time_format) %></i>
                <% } else { %>
                  Posted: <i><%- date(page.date, config.date_format) %></i> &#64; <i><%- time(page.date, config.time_format) %></i>
                <% } %>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="full-width text-align-center hidden-md-lg">
          <div class="post-heading-img">
            <% if (page.thumbnail){ %>
              <%- image_tag(url_for(page.thumbnail)) %>
            <% } else { %>
              <%- image_tag(url_for("images/default_post_bg.png")) %>
            <% } %>
          </div>
        </div>
        <%- page.content %>
      </div>

      <% if (page.prev || page.next){ %>
        <div class="grid">
          <div class="cell-sm-6">
            <% if (page.prev) { %>
              <div class="post-prev-decoration">
                <div class="content">
                  <a href="<%- url_for(page.prev.path) %>">Previous Post</a>
                </div>
              </div>
            <% } %>
          </div>
          <div class="cell-sm-6 text-align-right">
            <% if (page.next) { %>
              <div class="post-next-decoration">
                <div class="content">
                  <a href="<%- url_for(page.next.path) %>">Next Post</a>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</article>
