<%- partial('partial/navbar'); %>
<article class="page-head">
  <div class=term-box">
    <div>
      <div style="display: flex">
        <div class="term-box-post-thumb hidden-sm">
          <% if (page.thumbnail){ %>
            <%- image_tag(url_for(page.thumbnail)) %>
          <% } else { %>
            <%- image_tag(url_for("images/default_post_bg.png")) %>
          <% } %>
        </div>
        <div class="post-heading">
          <div class="decoration-bottom-90">
            <div class="content-left">
              <h2 class="post-title"><%- page.title %></h2>
            </div>
          </div>
          <div class="decoration-bottom-75">
            <div class="content-left content-vertical">
              <h3 class="post-date">
                <% if (page.updated.unix() !== page.date.unix()){ %>
                  Updated: <i><%- date(page.updated, config.date_format) %></i>
                <% } else { %>
                  Posted: <i><%- date(page.date, config.date_format) %></i>
                <% } %>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="full-width text-align-center hidden-md-lg">
          <div class="post-heading-img">
            <% if (page.thumbnail){ %>
              <%- image_tag(url_for(page.thumbnail)) %>
            <% } else { %>
              <%- image_tag(url_for("images/default_post_bg.png")) %>
            <% } %>
          </div>
        </div>
        <%- page.content %>
      </div>
    </div>
  </div>
</article>
