<%
function getYear(dc, year){
  for (let i=0; i < dc.length; i++){
    if (dc[i].year === year)
      return i;
  }
  return -1;
}

function getMonth(dc, year, month){
  var yi = getYear(dc, year);
  if (yi >= 0){
    for (let i=0; i < dc[yi].month.length; i++){
      if (dc[yi].month[i].month === month)
        return i;
    }
  }
  return -1;
}

var acc_tag = (tag) ? tag : "";
var data = (function(){
  var dc = [];
  site.posts.each(function(post){
    var year = post.date.year();
    var month = post.date.month();
    var yi = getYear(dc, year);
    if (yi < 0){
      yi = dc.length;
      dc.push({year:year, total: 0, month:[]});
    }
    var mi = getMonth(dc, year, month);
    if (mi < 0){
      mi = dc[yi].month.length;
      var murl = ((month < 9) ? "" : "0") + (month + 1);
      dc[yi].month.push({month:month, total:0, surl:murl, name:post.date.format('MMM')});
    }

    dc[yi].total += 1;
    dc[yi].month[mi].total += 1;
  });

  dc.forEach(function(item){
    item.month.sort(function(a, b){
      return a.month - b.month;
    });
  });

  dc.sort(function(a, b){
    return b.year - a.year;
  });
  return dc;
})();
%>

<div class="accordian-menu">
<% data.forEach(function(yitem){ %>
  <div>
    <input type="checkbox" id="<%- acc_tag %>year<%- yitem.year %>" name="archive-list">
    <label class="accordian-title" for="<%- acc_tag %>year<%- yitem.year %>"> 
      <i class="closed big-text fa fa-caret-square-right"></i>
      <i class="open big-text fa fa-caret-square-down"></i>
      <a href="<%- url_for("archives/" + yitem.year) %>">
        <span class="big-text">
          <%- yitem.year %> [ <%- yitem.total %> ]
        </span>
      </a>
    </label> 
    <div class="accordian-content">
      <ul class="sub-menu">
      <% yitem.month.forEach(function(mitem){ %>
        <li>
          <a href="<%- url_for("archives/" + yitem.year + "/" + mitem.murl) %>">
            <%- mitem.name %> [ <%- mitem.total %> ]
          </a>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
<% }); %>
</div>
