<div class="navbar">
  <div class="grid">
    <div class="cell-md-1 cell-lg-2"></div>
    <div class="cell-sm-12 cell-md-10 cell-lg-8">
      <div class="grid navshade">
        <div class="cell-sm-6">
          <div class="nav-title">
            <a href="<%- url_for("/") %>"><%- config.title %></a>
            <% if (page.title) { %>
              :<%- page.title %>
            <% } %>
          </div>
        </div>
        <div class="cell-sm-6 text-align-right">
          <% if (theme.navmenu) { %>
            <div class="nav-menu">
              <ul>
                <% Object.keys(theme.navmenu).forEach(function(key){ %>
                  <li><a href="<%- url_for(theme.navmenu[key]) %>"><%- key %></a></li>
                <% }); %>
              </ul>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
