<div class="navbar">
  <div class="grid">
    <div class="cell-md-1 cell-lg-2"></div>
    <div class="cell-sm-12 cell-md-10 cell-lg-8">
      <div class="grid navshade">
        <div class="cell-sm-4">
          <div class="nav-title">
            <a href="<%- url_for("/") %>"><%- config.title %></a>
          </div>
        </div>
        <div class="cell-sm-8 text-align-right">
          <% if (theme.navmenu) { %>
            <div class="nav-menu">
              <ul>
                <% theme.navmenu.forEach(function(item){ %>
                  <li> 
                    <a href="<%- url_for(item.url) %>">
                      <% if (item.fa_icon){ %>
                        <i class="fa fa-<%- item.fa_icon %>"></i>
                      <% } %>
                      <span class="hidden-sm"><%- item.name %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
